$primary: rgb(52, 194, 233);
/* $primary: rgb(102, 44, 191); */
$secondary: rgb(102, 44, 191);
$accent-1: rgb(161, 179, 213);
$accent-2: rgb(198, 207, 228);
/* $accent-2: rgb(198, 207, 228); */

$white: rgb(255, 255, 255);

$black-1: rgb(11, 11, 11);
$black-2: rgb(26, 32, 44);
$black-3: rgb(56 56 58);

$error-color: rgb(148, 27, 19);
$error-icon-color: rgb(244, 67, 54);
$error-background-color: rgb(253, 236, 234);

$warning-color: rgb(102, 60, 0);
$warning-icon-color: rgb(255, 152, 0);
$warning-background-color: rgb(255, 244, 229);

$info-color: rgb(13, 60, 97);
$info-icon-color: rgb(33, 150, 243);
$info-background-color: rgb(232, 244, 253);

$success-color: rgb(30, 70, 32);
$success-icon-color: rgb(76, 175, 80);
$success-background-color: rgb(237, 247, 237);

$status-online-color: rgb(27, 112, 82);
$status-away-color: rgb(249, 166, 26);
$status-dnd-color: rgb(243, 70, 72);
$status-dnd-black-color: rgb(33, 33, 33);

$offline: rgb(188, 195, 206);
$online: rgb(50, 182, 67);
$dnd: rgb(255, 0, 0);

$box-shadow-button: 0px 3px 1px -2px rgb(0 0 0 / 20%),
  0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
$box-shadow-button-hover: 0px 2px 4px -1px rgb(0 0 0 / 20%),
  0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);

/* $btn-primary-hover: rgba(102, 44, 191, 0.75); */
$btn-primary-hover: rgba(19, 165, 205, 0.95);
$btn-primary-text-hover: rgba(52, 194, 233, 0.04);
$btn-secondary-hover: rgba(88, 17, 196, 0.95);
$btn-secondary-text-hover: rgba(102, 44, 191, 0.08);
/* $btn-secondary-text-hover: rgba(220, 0, 78, 0.04); */
$btn-hover-background: rgb(213, 213, 213);

$card-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$card-title-color: rgb(52, 194, 233);
$card-para-color: rgb(117, 117, 117);
